:root {
    --primary-pink: hsl(322, 100%, 66%);
    --pale-cyan: hsl(193, 100%, 96%);
    --dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
}

header {
    background-image: url(../images/bg-hero-desktop.svg);
    background-color: var(--pale-cyan);
}

header > div {
    padding: 6vh;
    justify-content: space-between;
}

#front > img {
    width: 40%;
}

section {
    display: flex;
    flex-direction: row;
    margin: 10vh;
    padding: 6vh;
    border-radius: 8px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
}

section > img {
    width: 30%;
}

#build-community {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
    border-radius: 8px;
    height: 200px;
    margin: 0 40vh;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 60px 80px;
    background-color: var(--dark-cyan);
    color: white;
}

#first-column > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 60vh;
    margin: 15px 0;
}

#first-column > div > img {
    margin: 0 10px;
}