:root {
    --primary-pink: hsl(322, 100%, 66%);
    --pale-cyan: hsl(193, 100%, 96%);
    --dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

button {
    cursor: pointer;
    outline: 0;
    padding: 10px;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

}

.row {
    display: flex;
    flex-direction: row;
}

header {
    background-image: url(../images/bg-hero-desktop.svg);
    background-color: var(--pale-cyan);
}

header > div {
    padding: 6vh;
    justify-content: space-between;
}

#navbar img {
    width: 15%;
}

#navbar button {
    background-color: white;
    padding: 1vh 4vh
}

#front h1 {
    max-width: 24rem;
}

#front p {
    margin-top: 3vh;
    max-width: 36rem;
}

#front button {
    margin-top: 3vh;
    background-color: var(--primary-pink);
    color: white;
    padding: 2vh 8vh;
}

#front > img {
    width: 40%;
}

section {
    display: flex;
    flex-direction: row;
    margin: 10vh;
    padding: 6vh;
    border-radius: 8px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
}

section div {
    padding: 10vh 15vh;
}

section div h2 {
    margin-bottom: 1rem;
}

section > img {
    width: 30%;
}

#build-community {
    position: relative;
    top: 10vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
    border-radius: 8px;
    height: 200px;
    margin: 0 40vh;
}

#build-community button {
    background-color: var(--primary-pink);
    color: white;
    margin-top: 4vh;
    padding: 2vh 8vh;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 24vh 60px 6vh 60px;
    background-color: var(--dark-cyan);
    color: white;
}

#first-column > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 60vh;
    margin: 15px 0;
}

#first-column > div > img {
    margin: 0 10px;
}

@media (max-width: 700px) {
    
    #navbar img {
        width: 50%;
    }
    
    #front {
        flex-wrap: wrap-reverse;
        text-align: center;
    }

    #front > img {
        width: 100%;
    }

    section {
        flex-wrap: wrap-reverse;
        margin: 2vh;
        text-align: center;
        justify-content: center;
    }

    section div {
        padding: 0;
    }

    section img {
        width: 100%;
    }

    #build-community {
        margin: 0 2vh;
        text-align: center;
    }

    footer {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 20vh 2vh 0 2vh;
    }

    footer > div {
        padding-bottom: 2vh;   
    }

    footer div {
        max-width: 90vw;
    }
}